/* SIMPLE RESET CSS */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
li,
a,
button {
  text-decoration: none;
  color: #445964;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* MY CODE */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #445964;
  background-color: #fbfbfb;
}

.container {
  width: 100%;
  max-width: 88.56rem;
  margin: auto;
}
/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
}

.logo {
  display: flex;
  cursor: pointer;
  margin-right: auto;
  align-items: center;
}

.logo a {
  font-size: 2.25rem;
  padding-left: 0.625rem;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin-right: 1.875rem;
  color: #445964;
  padding: 0px 1.25rem;
}

.nav-links li:last-child {
  margin-right: 0px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #263138;
}
/* HOME PAGE */
.home {
  display: flex;
}

.home > .home-description-wrapper {
  width: 50%;
  margin-top: 14.375rem;
}

.page-art {
  width: 100%;
  max-width: 44.0625rem;
  height: 100%;
  max-height: 43.5625rem;
}

.home-description {
  width: 100%;
  max-width: 34.0625rem;
}

.home-description p {
  font-size: 1.5rem;
}

.home-description h1 {
  font-size: 4.5rem;
}

.home-button {
  display: block;
  width: 100%;
  max-width: 20.5rem;
  height: 100%;
  max-height: 4.0625rem;
  font-size: 1.5rem;
  font-weight: 900;
  text-decoration: none;
  color: #fff;
  border-radius: 1.25rem;
  background-color: #263138;
  padding: 1.25rem 2.1875rem;
  margin-top: 8.1875rem;
}

.home-button:hover {
  background-color: #445964;
}

.home-social-networks {
  position: absolute;
  bottom: 6.4375rem;
}
.home-social-networks a {
  margin-right: 1.625rem;
}

/* ABOUT ME  */

.about-me {
  display: flex;
  width: 100%;
}

.about-me-wrapper {
  width: 100%;
  max-width: 1040px;
  text-align: center;
  margin: auto;
}

.about-me-description {
  margin-top: 55px;
}

.about-me-description h1 {
  margin-top: 15px;
  margin-bottom: 24px;
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
}

.about-me-description p {
  width: 100%;
  line-height: 28px;
  margin: auto;
}
/* HARD SKILLS */
.hard-skills h2 {
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
  margin-top: 104px;
  margin-bottom: 64px;
}

.hard-skills-row {
  display: flex;
}

.hard-skills-row h3 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 900;
}

.hard-skills-language {
  display: block;
  width: 100%;
  max-width: 212px;
  height: 100%;
  max-height: 98px;
}

.hard-skills-language:last-child {
  margin-bottom: 136px;
}

.hard-skills-language {
  margin-right: 50px;
}

.hard-skills-row > .hard-skills-language:last-child {
  margin-right: 0px;
}

.skill-level {
  margin: 0.2rem 0;
  flex-direction: row;
}
/* TEST */
.hard-skills-level {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.hard-skills-level-hexagon {
  display: inline;

  margin-right: 5px;
}

.hard-skills-level-hexagon:last-child {
  margin-right: 0;
}
/* PORTFOLIO */

.portfolio-wrapper {
  width: 100%;
  max-width: 1440px;
}

.portfolio-description {
  display: flex;
  left: 0;
  align-items: center;
}

.portfolio-description-row {
  display: inline;
  margin-top: 91px;
  margin-right: 90px;
  margin-bottom: 60px;
}

.portfolio-description-row:last-child {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 56px;
  margin-right: 0;
}

.portfolio-description-row h2 {
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
}
.portfolio-description-row h2::first-line {
  color: #263138;
}

.portfolio-menu {
  width: 100%;
  margin-bottom: 91px;
}

.portfolio-menu button {
  background-color: #dfdfdf;
  font-weight: 900;
  line-height: 28px;
  border: none;
  border-radius: 20px;
  color: inherit;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.portfolio-menu > .portfolio-menu-active {
  background-color: #263138;
  color: white;
}

.portfolio-blocks {
  display: flex;
  width: 100%;
  max-width: 1080px;
  height: 100%;
  max-height: 490px;
  margin: auto;
  margin-bottom: 145px;
}

.portfolio-blocks-column {
  width: 33.3%;
  max-width: 370px;
  margin-right: 30px;
}

.portfolio-small-block {
  width: 340px;
  height: 190px;
  border-radius: 20px;
  margin-bottom: 50px;
  content: none;
}

.portfolio-big-block {
  width: 340px;
  height: 250px;
  border-radius: 20px;
  margin-bottom: 50px;
  content: none;
}

.portfolio-blocks-column:last-child {
  margin-right: 0;
}

.darkgray {
  background-color: #263138;
  color: #fff;
}

.gray {
  background-color: #445964;
  color: #fff;
}

.softgray {
  background-color: #dfdfdf;
  color: #fff;
}
/* MINHAS TECHS */
.minhas-techs {
  display: flex;
  width: 100%;
}

.minhas-techs-wrapper {
  width: 100%;
  max-width: 1040px;
  text-align: center;
  margin: auto;
}

.minhas-techs-wrapper h2 {
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
  margin-top: 115px;
  margin-bottom: 115px;
}

.minhas-techs-wrapper h2 strong {
  color: #263138;
}

.minhas-techs-technology-row {
  margin-bottom: 115px;
}

.minhas-techs-technology-row:last-child {
  margin-bottom: 170px;
}

.minhas-techs-technology-row h4 {
  line-height: 28px;
  margin-bottom: 10px;
}
.minhas-techs-technology-row h3 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 900;
  margin-bottom: 40px;
}
.minhas-techs-technology-row h3 strong {
  color: #000000;
}

.minhas-techs-technology-logo img {
  margin-right: 100px;
}

.minhas-techs-technology-logo img:last-child {
  margin-right: 0;
}
/* FOOTER */

.footer {
  width: 100%;
  max-width: 1610px;
  margin: auto;
}

.footer-description {
  display: flex;
  left: 0;
  align-items: center;
}

.footer-description-row {
  display: inline;
  margin: 91px 100px 60px auto;
}

.footer-description-row:first-child {
  width: 400px;
  height: 56px;
  text-align: right;
}

.footer-description-row:last-child {
  margin-left: 0;
}

.footer-description-row h2 strong {
  font-weight: 900;
}

.footer-main {
  display: flex;
  box-sizing: border-box;
}

.main-blocks-column {
  display: block;
  text-align: center;
  width: 530px;
  height: 280px;
  margin-right: 60px;
  border-radius: 20px;
}
.main-blocks-column h3 {
  padding-top: 35px;
  color: #dfdfdf;
}

.main-blocks-column p {
  padding: 20px;
}

.main-blocks-column:first-child {
  margin-top: 50px;
}

.main-blocks-column:last-child {
  margin-top: 50px;
  margin-right: 0px;
}

.footer-quote {
  width: 100%;
  max-width: 610px;
  height: 100%;
  max-height: 93px;
  font-weight: 500;
  margin: auto;
  text-align: center;
}

.footer-quote img {
  margin-top: 50px;
}

.footer-quote p {
  font-size: 28px;
  line-height: 32px;
}

.footer-quote > p > strong {
  font-weight: 900;
}

.footer-quote > h3 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 900;
  padding-bottom: 120px;
}
